@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>DraggableJQueryUi</h1>
    <section>
        <h2>Trello Clone</h2>
        <div class="field">

            <div>
                <h3>Нужно сделать</h3>

                <div class="column">

                    <div class="portlet">
                        <div class="portlet-header">Feeds</div>
                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                    </div>

                    <div class="portlet">
                        <div class="portlet-header">News</div>
                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                    </div>

                </div>
            </div>

            <div>
                <h3>В процессе</h3>

                <div class="column">

                    <div class="portlet">
                        <div class="portlet-header">Shopping</div>
                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                    </div>

                </div>
            </div>

            <div>
                <h3>Готово</h3>

                <div class="column">

                    <div class="portlet">
                        <div class="portlet-header">Links</div>
                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                    </div>

                    <div class="portlet">
                        <div class="portlet-header">Images</div>
                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section>
        <h2>Puzzle</h2>
        <div class="field">
            <div class="block">
                
            </div>
            <div class="wrapper">        
                <div class="cube">
                    <img src="img/1.jpg" alt="apple">
                </div>
                <div class="cube">
                    <img src="img/4.jpg" alt="apple">
                </div>
                <div class="cube">
                    <img src="img/3.jpg" alt="apple">
                </div>
                <div class="cube">
                    <img src="img/2.jpg" alt="apple">
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2>Сhoose the right place</h2>s
        <div class="field"> 
            <div class="place-wrapper">
                <div data-type="food" class="place">
                    <img src="~/img/refridge.jpg" alt="refridge">
                </div>
                <div data-type="trash" class="place">
                    <img src="~/img/trash.png" alt="trash">
                </div>
            </div>
            <div class="items-wrapper">
                <img data-type="food" class="item" src="~/img/apple.jpg" alt="apple">
                <img data-type="trash" class="item" src="~/img/banan.png" alt="bananа">
                <img data-type="food" class="item" src="~/img/orange.jpg" alt="orange">
            </div>
        </div>
    </section>
</div>
